* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background: #121212;
    color: white;
    cursor: default;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
}

body, input, button, select, option, textarea {
    font: 300 13px/1.5 'Poppins', sans-serif;
}

a, img {
    user-drag: none;
    -webkit-user-drag: none;
    object-fit: contain;
}

::-webkit-scrollbar {
        height: 15px;
        width: 15px;
        background: #121212;
    }
    ::-webkit-scrollbar-thumb {
        background: #333;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #404040;
    }
    ::-webkit-scrollbar-corner {
        background: #121212;
}

@font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: local('Poppins Light'), local('Poppins-Light'), url('./font/Poppins-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins'), local('Poppins-Regular'), url('./font/Poppins-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: local('Poppins Medium'), local('Poppins-Medium'), url('./font/Poppins-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('./font/Poppins-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url('./font/Poppins-Bold.ttf') format('truetype');
}

/****************************************************************/

header {
        position: relative;
        margin: 5px;
        height: 29px;
        line-height: 29px;
        text-align: center;
    }
    header .drag {
        position: absolute;
        left: 0;
        right: 45px;
        top: 0;
        bottom: 0;
        -webkit-app-region: drag;
    }
    header .title {
        font: menu;
        font-size: 12px;
        opacity: .8;
    }
    header .close {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 29px;
        z-index: 100;
    }
    header .close:hover {
        background: #E81123;
    }
    header .close:active {
        background: #8B3A6A;
    }
    header .close img {
        margin-bottom: -1px;
}

/****************************************************************/

.track-info {
        position: relative;
        margin-top: -34px;
        padding: 5px 10px 10px;
        z-index: 99;
    }
    .track-info .drag {
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-app-region: drag;
    }
    .track-info .art {
        background: black;
        float: left;
        margin-right: 10px;
    }
    .track-info ul {
        list-style: none;
    }
    .track-info li {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        opacity: .8;
    }
    .track-info .title {
        font-size: 1.5em;
        opacity: 1;
    }
    .track-info .disabled {
        opacity: .3;
}

/****************************************************************/

.lyrics-box {
        position: absolute;
        top: 87px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background: #181818;
        overflow: auto;
    }
    .lyrics-box p {
        margin: 10px 0;
        text-align: center;
        font-size: 1.3em;
    }
    .lyrics-box .no-lyrics {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        opacity: .5;
    }
    .lyrics-box p span {
        display: inline-block;
    }
    .lyrics-box br {
        opacity: 0;
}
